ansible==2.9.7
ansible-generator==2.1.4
appdirs==1.4.3
backports.weakref==1.0.post1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cryptography==2.9
distlib==0.3.0
filelock==3.0.12
idna==2.9
importlib-metadata==1.6.0
importlib-resources==1.4.0
Jinja2==2.11.2
Markdown==3.2.1
MarkupSafe==1.1.1
mdown==2019.4.13
mkdir==2019.4.13
ntlm-auth==1.4.0
orderdict==2019.9.25
public==2019.4.13
pycparser==2.20
pywinrm==0.4.1
PyYAML==5.3.1
readme-md==2019.1.28
requests==2.23.0
requests-ntlm==1.1.0
sentry-sdk==0.14.3
setupcfg==2019.4.13
six==1.14.0
urllib3==1.25.9
values==2019.4.13
virtualenv==20.0.18
write==2019.4.13
xmltodict==0.12.0
zipp==3.1.0
